<div class='background'>
  <div class='casting-form-container'>
    <%= simple_form_for [@casting, @audition] do |f| %>
    <div class='form-group'>
    <% if @casting.video.attached? %>
      <h3>Instructional Video</h3>
      <%= video_tag url_for(@casting.video), height: 300, width: 400, controls: true %>
    <% end %>
      <%= f.input :video, as: :file %>
      <%= f.button :submit, "Submit Audition" %>
    </div>
      <% end %>
  </div>
</div>
