<div class="container">
  <p><strong>Audition Status:</strong> <%= @audition.status %></p>
  <p><strong>Audition Date:</strong> <%= @audition.date %></p>


  <h3>Submitted Video</h3>
<%#= video_tag @audition.video, height: 300, width: 400, controls: true %>


  <%# if @audition.dancer == current_user.dancer %>
    <%#= link_to 'Edit Audition', edit_audition_path(@audition) %>
  <%# end %>
</div>
