<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in?%>
  <% if current_user.role == "producer" %>
    <%= link_to "Producer Profile", producer_path(current_user.producer) %>
  <% end %>

  <% if current_user.role == "dancer" %>
    <%= link_to "Dancer Profile", dancer_path(current_user.dancer) %>
  <% end %>
<% end %>
