.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
  height: 30px;
}

.navbar-lewagon .title {
  font-size: 15px;
  font-weight: bold;
  font-family: "Playwrite US Modern", cursive;
}
